
/* fonts-styls */


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@500&display=swap');
.font-500{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.fonts-700{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}

/* font-style-end */





header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 144, 14, 0.1);
}


.container{
    width: 1350px;

}


/* navigation-style */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-title{
    font-size: 20px;
    color: #131313;
}
.navigation-bar{
    display: flex;
    gap: 40px;
    list-style: none;
    font-size: 18px;

    color: #424242;
    
}

.groups{
    text-align: center;
    margin-top: 117px;
}
.group-info{
    padding-left: 14px;
    padding-right: 14px;
    
}
.group-title{
    font-size: 64px;
    margin: 0px;
}
.group-info p{
    font-size: 16px;
    color: #727272;
    padding-left:14px ;
    padding-right: 14px;
}
.common-button{
    width: 180px;
height: 64px;
background-color: #FF900E;
border: none;
border-radius: 8px;
margin-top: 30px;
font-size: 20px;
color: #FFFFFF;
}
.banner{
    width:100%;
    margin-top:50px ;
}
.banner img{
    width: 100%;
}

@media screen and (max-width:688px) {
    .container{
        width: 100%;

    }
    .navigation-bar{
        flex-wrap: wrap;
    }
    .banner{
        width: 100%;
    }
    .banner img{
        width: 100%;
    }
    header{
        width: 100%;
        background-color: white;
    }

    .features{
        flex-direction: column;
        align-items: center;
    }
    .features-img{
        grid-template-columns: repeat(1,1fr);
    }
    .love-enjoy{
        flex-direction: column ;
        align-items: center;
    }
    .love-info{
        width: 100%;
    }
    .love-img{
        width: 100%;
    }
    .love-img img{
        width: 100%;
    }
    .types{
        padding: 0px;
        box-shadow: none;
        border-radius: none;
        
    }
    .facts{
        margin-left: 0px;
    }
    .statistics-container{
        flex-direction: column;
    }
    .sponsor-img{
        flex-direction:column ;
    }
    .main-container{
        align-items: center;
    }

   .footer-container{
    width: 100%;
   }
    
}


footer{
    display: none;
}



/* main style */

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features{
    display: flex;
    align-items: center;
    gap: 76px;
    margin-top: 85px;
}
.features-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 24px;
    row-gap: 24px;
    width:50%;
}
.features-img img{
    width: 100%;
}
.features-info{
    width: 50%;
}
.features-info span{
    color: #FF900E;
}
.features-info p{
    color: #727272;
    font-size: 16px;
}



.features-enjoy{
    margin-top: 169px;
}
.love-enjoy{
    display: flex;
    gap: 54px;
}

.love-info{
    width: 100%;
}
.leading-info{
    border-left: 5px solid  #FF900E;;
}
.leading-info h2{
    font-size: 45px;
    color: #131313;
    margin-left: 20px;
}
.details{
    font-size: 16px;
    color: #727272;
}

.types{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
    margin-top: 30px;

}
.types h2 {
    font-size: 20px;
    color: #131313;
}
.love-img{
    margin-left: 20px;
    width: 70%;
}
.love-img img{
    width: 100%;
    height: 100%;

}
.experience{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.experience-btn{
    height: 200px;
    width: 342px;
    background: #FF900E;
    font-size: 65px;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    
}
.facts{
    margin-left: 240px;
}

.facts h2{
    font-size: 45px;
    color: #131313;

}
.statistics{
    height: 241.83px;
    width: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition: transform 5s ;
}
.count{
    font-size: 45px;
    color: #424242; 
    
}
.statistics p{
    font-size: 20px;
    color: #727272;
}
.statistics-container{
    display: flex;
    gap: 50px;
    margin-top: 100px;
}
.statistics-container :hover{
    transform: rotate(90deg);

}
 .sponsor-details{
    text-align: center;
    margin-top: 180px;
 }
 .sponsor-title{
    font-size: 45px;
    color: #131313;
 }
 .sponsor-info{

 }
.sponsor-img{

    display: flex;
    gap: 155px;
    margin-top: 50px;
}


.footer-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#FFF4E7;
    margin-top: 130px;
    margin-bottom: 216px;
  

}

.copyright{
    font-size: 20px;
    color: #424242;

}




